.dialog {
    position: relative;
    z-index: 9999;
}
.overlay {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    background-color: var(--default-interface-navy-400); 
    opacity: 0.25;
}
.modal-card {
    overflow-y: auto; 
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}
.modal-content {
    display: flex; 
    padding: 1rem; 
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    min-height: 100%; 
}
.modal-panel {
    overflow: hidden; 
    padding: 32px; 
    background-color: var(--default-interface-white); 
    box-shadow: 0px 8px 16px rgba(30, 30, 50, 0.2);
    transition-property: all; 
    width: 100%; 
    max-width: 400px; 
    border-radius: 16px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.profile-view-panel{
    overflow: hidden; 
    padding: 0px; 
    background-color: var(--default-interface-white); 
    box-shadow: 0px 8px 16px rgba(30, 30, 50, 0.2);
    transition-property: all; 
    width: 100%; 
    max-width: 400px; 
    border-radius: 16px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* max-height: 70vh;
    overflow-y: auto;
    scroll-behavior: smooth; */
}
.modal-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: var(--default-interface-navy-400);
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.modal-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: var(--default-interface-navy-400);
    opacity: 0.8;
    margin-top: 8px;
    margin-bottom: 24px;
}
.cancel-icon {
    position: absolute;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    right: 12px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: transparent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.cancel-icon:hover{
    background-color: rgba(0, 0, 0, 0.06);
}
.btn-container {
    display: flex;
}
.btn-s{
  padding:5px 6px;
}